@import url("./separate css/footer.css");
@import url("./separate css/main.css");
@import url("./separate css/nav.css");
@import url("./separate css/responsive.css");

@keyframes upDownWards {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-0.5em);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes gradient {
  0% {
    background-color: #130068;
  }

  50% {
    background-color: #2d1692;
  }

  100% {
    background-color: #130068;
  }
}

.hidden {
  opacity: 0;
}

.scroll {
  transition: all 1s ease-in-out;
}

.decorated {
  text-decoration: var(--txt-dec) !important;
}

.sect1 {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.sect1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 300px;
  height: 300px;

  background-color: #130068;
  border-radius: 100%;
  filter: blur(100px);
  z-index: -1;
  animation: gradient infinite 7s;
}

.sect1 h1 {
  font-size: 2.5em;
  max-width: 20em;
  margin: var(--no-margin);
}

.sect1 p {
  max-width: 35em;
}

.sect1 img {
  margin-left: var(--no-margin);
  width: 100%;
  max-width: 35em;
  animation: upDownWards 2s infinite;
  animation-timing-function: linear;
}

.sect1 button {
  border-radius: 100vw;
  border: none;
  padding: 10px 20px;
  background-color: var(--btn-tp);
  color: var(--global-txt-color);
  font-family: var(--font);
  transition: all 0.3s;
}

.sect1 button:hover {
  background-color: var(--btn-tp-hv);
}

.get-started {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;
  justify-content: center;
  align-items: center;
  gap: 20px;

  opacity: 0;

  background-color: rgba(66, 66, 66, 0.089);
  width: fit-content;
  padding: 20px;
  border-radius: 20px;
  z-index: 3;

  transition: all 0.4s linear;
}

.get-started button,
.get-started a {
  border-radius: 10px;
  width: 100%;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: none;

  background-color: rgba(0, 0, 0, 0.63);
  width: 100%;
  height: 100%;
  z-index: 2;
  backdrop-filter: blur(10px);
  opacity: 0;

  transition: all 0.4s linear;
}

.sect2 {
  height: 100vh;
}

.sect2 h1 {
  font-size: 2.2em;
  text-align: center;
}

.grid-skills {
  display: grid;
  grid-template-columns: repeat(3, 0.2fr);
  gap: 25px;
  justify-content: center;

  margin-top: 20px;
}

.grid-skills > div {
  border: 1px solid white;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(169, 169, 169, 0.027);
  user-select: none;
  transition: all 0.2s;
}

.grid-skills h3 {
  font-size: 1.7em;
  font-weight: 500;
  color: darkgray;
}

.mTopH1 {
  margin-top: 3em;
}

.grid-skills > div:hover {
  background-color: rgba(214, 214, 214, 0.055);
}

.sect2::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;

  margin: auto;

  width: 300px;
  height: 300px;

  opacity: 0.7;
  background-color: #130068;
  border-radius: 100%;
  filter: blur(70px);
  z-index: -1;
}

.sect3 {
  height: 0;
}

.tab {
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
}

.wrap_resume_contents {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.wrap_resume_contents ul {
  padding-left: 20px;
}

.hide-skills {
  position: absolute;
  bottom: 0;

  display: none;
  justify-content: center;
  align-items: center;

  opacity: 0;

  background-color: #00020e9a;
  width: 100%;
  height: 50%;
  font-size: 1.2em;
  text-align: center;
  backdrop-filter: blur(10px);
  border: none !important;
  border-radius: 10px;

  transition: all 0.2s linear;
}
