:root {
  --website-spacing: 0 12%;
  --website-spacing-mobile: 0 2%;
  --website-bg: #00020e;
  --font: "Poppins", sans-serif;
  --global-txt-color: white;
  --no-margin: 0;
  --p-color: #a7a7a7;
  --btn-tp: rgba(88, 88, 88, 0.171);
  --btn-tp-hv: rgba(107, 107, 107, 0.171);
  --txt-dec: 1px solid white;
  --footer-bg: rgba(17, 0, 37, 0.089);
  --min-width: 100%;
}

@keyframes spinLoader {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--website-bg);
  margin: var(--no-margin);
  font-family: var(--font);
  color: var(--global-txt-color);
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  background-color: #111;
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background-color: #222;
  width: 5px;
  border-radius: 10px;
}

img {
  -webkit-user-drag: none;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

:where(h3, h4) {
  margin: var(--no-margin);
}

:where(.space > *) {
  margin: var(--website-spacing);
}

p {
  color: var(--p-color);
}

ul {
  padding: 0;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;

  background-color: var(--website-bg);
  z-index: 2;
  transition: all 0.2s ease-in-out;
}

.loader > div {
  border-radius: 100%;
  border: 12px solid white;
  border-top: 12px solid rgb(70, 30, 218);

  width: fit-content;
  width: 100px;
  height: 100px;

  animation: spinLoader 1.2s infinite;
}
